# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
biscuit-api/biscuit-api/bin/Debug/net9.0/appsettings.*
biscuit-api/biscuit-api/Properties/PublishProfiles/Stage.pubxml
biscuit-api/biscuit-api/Properties/PublishProfiles/Stage.pubxml.user
biscuit-api/biscuit-api/appsettings.Development.json
biscuit-api/biscuit-api/appsettings.json
biscuit-api/biscuit-api/appsettings.Production.json
biscuit-api/biscuit-api/appsettings.Stage.json
