# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
biscuit-api/.vs/biscuit-api/FileContentIndex/*
biscuit-api/biscuit-api/obj/Debug/*
biscuit-api/biscuit-api/bin/Debug/*
biscuit-api/biscuit-api/Properties/PublishProfiles/*
biscuit-api/biscuit-api/appsettings*

biscuit-api/.vs/biscuit-api/v17/DocumentLayout.backup.json
biscuit-api/.vs/biscuit-api/v17/DocumentLayout.json
biscuit-api/.vs/biscuit-api/v17/.futdcache.v2
